.ul_drag{ width:1000px; list-style-type:none; margin:0px; }
.ul_drag li{ float:left; margin: 15px 0 0 24px; height:102px;position:relative; /*padding:5px; width:100px; */ }
.ul_drag .drag{ border:solid 1px black; }
.ul_drag li .delicon {height: 25px; padding: 0 0 0 0; position: absolute; cursor: pointer; top: -8px; right:-9px; }

.ul_drag li {list-style:none;}
