@charset "utf-8";
/* CSS Document */

body {margin:0; font-family:Arial, Helvetica, sans-serif;}

/* TOP */
#publicidad_top {width:945px; height:90px; margin:10px auto; padding-top:10px; color:#FFF;}

/* BODY */
#body_container {background:url(../images/bg_general.jpg) repeat-x #EEE;}
#body_container_zona_privada {background:url(../images/bg_zona_privada.jpg);}
input, select{margin:5px 0; border:solid 1px #ba8400;  padding:3px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background: #fff;}

/* HEADER */
#header_container {width:960px; margin:10px auto 0 auto;}
#logo_header {position:relative; top:-5px; z-index:5;}
#header_top {position:relative; z-index:2;}
#header_top .column p{margin:10px 0 0 0px; font-size:13px; text-align: right}
#header_top .column .estado{font-weight:bold;}
#login-1 {background:url(../images/link_login.png) no-repeat; display:block; width:88px; height:24px; color:#FFF; padding:13px 0 0 40px; position:relative; top:-5px; left:188px; font-size:12px; text-decoration:none;}
#login-1:hover{color:#F33;}
#login-2 {display:none;}

/* BÚSQUEDA */
#body_container #mostrar_buscador {display:none; border:solid 1px #BD9E46; border-left:none;}
#body_container #mostrar_buscador {background:#E7BD56; color:#FFF; font-weight:bold; padding:7px; position:relative; left:-60px; top:40px; z-index:1; width:320px; cursor:pointer; border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0; -webkit-border-radius:0 10px 10px 0;}
#body_container #ocultar_buscador {color:#FFF; text-decoration:underline; font-weight:bold; cursor:pointer;}
#body_container_zona_privada #buscador_principal{display:none;}
#body_container_zona_privada #mostrar_buscador {border:solid 1px #BD9E46; border-left:none;}
#body_container_zona_privada #mostrar_buscador {background:#E7BD56; color:#FFF; font-weight:bold; padding:7px; position:relative; left:-60px; top:40px; z-index:1; width:320px; cursor:pointer; border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0; -webkit-border-radius:0 10px 10px 0;}
#body_container_zona_privada #ocultar_buscador {color:#FFF; text-decoration:underline; font-weight:bold; cursor:pointer;}
#busqueda-1 {margin:auto; width:958px; height:169px;}
#busqueda-1_botones {width:733px; font-size:20px;}
#busqueda-1 #boton_busqueda {background:url(../images/busqueda_boton_1.png) no-repeat top; width:234px; height:51px;}
#busqueda-1 #boton_busqueda:hover {background:url(../images/busqueda_boton_1.png) no-repeat 0 -51px;}
#busqueda-1 #boton_busqueda a{display:block; width:234px; height:51px; text-decoration:none; color:#817e7e;}
#busqueda-1 #boton_busqueda a:hover{color:#FFF;}
#busqueda-1 #boton_busqueda span{display:block; padding:16px 0 0 80px;}
#busqueda-1 #boton_busqueda.activo {background:url(../images/busqueda_boton_1.png) no-repeat 0 -51px; color:#FFF;}
#busqueda-1 #boton_busqueda.activo a{color:#FFF;}
#busqueda-1 #boton_nuevos_desarrollos {background:url(../images/nuevos_boton_1.png) no-repeat top; width:296px; height:51px;}
#busqueda-1 #boton_nuevos_desarrollos:hover {background:url(../images/nuevos_boton_1.png) no-repeat 0 -51px;}
#busqueda-1 #boton_nuevos_desarrollos a{display:block; width:296px; height:51px; text-decoration:none; color:#817e7e;}
#busqueda-1 #boton_nuevos_desarrollos a:hover{color:#FFF;}
#busqueda-1 #boton_nuevos_desarrollos span{display:block; padding:16px 0 0 90px;}
#busqueda-1 #boton_nuevos_desarrollos.activo {background:url(../images/nuevos_boton_1.png) no-repeat 0 -51px;}
#busqueda-1 #boton_nuevos_desarrollos.activo a{color:#FFF;}
#busqueda-1 #boton_buscar_id {background:url(../images/ids_boton_1.png) no-repeat; width:203px; height:51px;}
#busqueda-1 #boton_buscar_id:hover {background:url(../images/ids_boton_1.png) no-repeat 0 -51px;}
#busqueda-1 #boton_buscar_id a{display:block; width:203px; height:51px; text-decoration:none; color:#817e7e;}
#busqueda-1 #boton_buscar_id a:hover{color:#FFF;}
#busqueda-1 #boton_buscar_id span{display:block; padding:16px 0 0 50px;}
#busqueda-1 #boton_buscar_id.activo {background:url(../images/ids_boton_1.png) no-repeat 0 -51px;}
#busqueda-1 #boton_buscar_id.activo a{color:#FFF;}
#round_top_busqueda-1 {background:url(../images/redondeo_boton_buscar.png) no-repeat; width:223px; height:13px;}
#busqueda-2 {margin:auto; width:957px;}
#busqueda-2 #boton_busqueda{background:url(../images/buscar_busqueda-2.png) no-repeat top; width:192px; height:64px;}
#busqueda-2 #boton_busqueda:hover{background:url(../images/buscar_busqueda-2.png) no-repeat 0 -64px ;}
#busqueda-2 #boton_busqueda.activo{background:url(../images/buscar_busqueda-2.png) no-repeat 0 -64px ;}
#busqueda-2 #boton_busqueda a{font-size:18px; color:#FFF; text-decoration:none; display:block; width:192px; height:64px;}
#busqueda-2 #boton_busqueda span{display:block; padding:16px 0 0 60px;}
#busqueda-2 #boton_nuevos_desarrollos{background:url(../images/nuevos_buqueda-2.png) no-repeat top; width:277px; height:64px;}
#busqueda-2 #boton_nuevos_desarrollos:hover{background:url(../images/nuevos_buqueda-2.png) no-repeat 0 -64px;}
#busqueda-2 #boton_nuevos_desarrollos.activo{background:url(../images/nuevos_buqueda-2.png) no-repeat 0 -64px;}
#busqueda-2 #boton_nuevos_desarrollos a{display:block; width:277px; height:64px; color:#FFF; text-decoration:none; font-size:18px;}
#busqueda-2 #boton_nuevos_desarrollos span{display:block; padding:16px 0 0 80px;}
#busqueda-2 #boton_buscar_id{background:url(../images/ids_busqueda-2.png) no-repeat top; width:219px; height:64px;}
#busqueda-2 #boton_buscar_id:hover{background:url(../images/ids_busqueda-2.png) no-repeat 0 -64px;}
#busqueda-2 #boton_buscar_id.activo{background:url(../images/ids_busqueda-2.png) no-repeat 0 -64px;}
#busqueda-2 #boton_buscar_id a{display:block; width:219px; height:64px; font-size:18px; text-decoration:none; color:#FFF;}
#busqueda-2 #boton_buscar_id span{display:block; padding:16px 0 0 70px;}
#busqueda-2 #boton_buscar {width:223px;}
#boton_buscar {background:#E7BD56;height:156px; text-align:center;}
#boton_buscar .busqueda_toggle {color:#FFF; text-decoration:underline; font-size:14px; font-weight:bold; cursor:pointer;}
#boton_buscar input {background:url(../images/boton_buscar.png) no-repeat; width:126px; height:69px; border:none;}
#boton_buscar input:hover{background:url(../images/boton_buscar.png) no-repeat -128px 0;}
#boton_buscar input:active{background:url(../images/boton_buscar.png) no-repeat -256px 0;}
#campos_busqueda-1 {background:#E7BD56; color:#5D5D5D; font-size:15px; font-weight:bold; font-size:12px; height:118px;}
#campos_busqueda-1 #venta{background:#FFF; border:solid 1px #ba8400; display:block; width:99px; height:22px; padding:2px 0 1px 8px; position:relative; top:-3px; display:inline-block; cursor:pointer; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#campos_busqueda-1 #venta.seleccionado {background:#333; color:#FFF;}
#campos_busqueda-1 #venta span{display:block; padding:1px 0 0 25px;}
#campos_busqueda-1 #renta{background:#FFF; border:solid 1px #ba8400; display:block; width:99px; height:22px; padding:2px 0 1px 8px; position:relative; top:-3px; display:inline-block; cursor:pointer; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#campos_busqueda-1 #renta.seleccionado {background:#333; color:#FFF;}
#campos_busqueda-1 #renta span{display:block; padding:1px 0 0 25px;}
#campos_busqueda-1 #estado_form {width:369px;}
#campos_busqueda-1 .rango_form {width:100px;}
#busqueda_avanzada-1 {background:#D9AD55; width:955px; margin:0 1px; border-top: groove 2px #FFFF00; display:none;}
#busqueda_avanzada-1 .container{width:900px; margin:20px auto 0; padding-bottom:10px; font-size:12px;}
#redondeo_inf_busqueda-1 {background:url(../images/busqueda_round_bottom.png) no-repeat; width:957px; height:19px; margin:auto;}
#busqueda_avanzada-1 .container label{color:#FFF; font-size:12px;}
#advert_busqueda_a {background:#D9AD55; width:915px; color:#B02424; margin:auto; padding:20px;}
#advert_busqueda_a span{font-weight:bold;}
.datos_busqueda {padding:10px 0;}
.datos_busqueda .tipo_inmueble {font-size:30px;}
.datos_busqueda .tipo_inmueble a{color:#000;}
.datos_busqueda .zona_inmueble {font-size:16px; margin:5px 0;}
.datos_busqueda .zona_inmueble a{color:#000;}
.listado_resultados_col_izq {font-size:12px; margin-bottom:20px;}
.listado_resultados_col_izq li{list-style:disc inside; margin:5px;}
.listado_resultados_col_izq li a{color:#000;}
.listado_resultados_col_izq li a:hover{color:#F33;}
.listado_resultados_col_izq li a.color-1{color:#F33;}
.listado_resultados_col_izq li span{ font-style:italic;}
.num_resultados {font-size:20px; color:#000;}
.datos_busqueda p.num_resultados{font-size:11px;}
.rss_boton {width:65px; height:24px; position:relative; float:right; top:-60px;}
.rss_boton a{display:inline-block; width:32px; height:24px; padding:5px;}
.resultados_patrocinados_titulo {width:714px; margin-top:20px;}
.resultados_patrocinados_titulo span{font-size:12px; color:#000;}
.precio_resultados {background:#DADADA;}
.top_precio_resultado {background:url(../images/bg_top_precio_resultado.png) no-repeat; width:151px; height:7px; margin-top:30px; margin-left:-3px;}
.in_precio_resultado {background:url(../images/bg_precio_resultado.png) repeat-y; width:151px; margin-left:-3px; padding:30px 0; text-align:center;}
.in_precio_resultado p.precio{display:block; font-size:18px; color:#FFF; font-weight:bold;}
.bottom_precio_resultado {background:url(../images/bg_bottom_precio_resultado.png) no-repeat; width:151px; height:7px;  margin-left:-3px;}
.resultados {margin-top:20px; width:710px;}
.resultados .container{padding:0;}
.resultados .columna-1 img{border:solid 5px #E7E7E7;}
.ordenar_por {float:right; margin-right:4px;}
.resultados .columna-2 {width:261px;}
.resultados .columna-2 .container {padding:20px 0;}
.resultados .columna-2 p{margin:10px 0;}
.resultados .columna-2 a.locacion_inmueble{display:block; width:260px; font-size:13px; color:#000;}
.resultados .columna-2 a{display:block; width:260px; font-size:12px;}
.resultados .columna-2 h1.colonia_inmueble{color:#E6B957; font-size:20px; font-weight:normal; margin-bottom:5px;}
.resultados .columna-2 span.calle_inmueble{color:#000; font-size:12px;}
.resultados .columna-2 .detalles_inmueble .column{background:#E1E1E1; margin:10px 2px; padding:5px; text-align:center;}
.resultados .columna-2 .detalles_inmueble span{color:#000;}
.resultados .columna-2 .detalles_inmueble .numero_detalles_inmueble{color:#000; font-weight:bold; font-size:16px;}
.paginacion ul li a {display:inline-block; zoom:1; *display:inline; padding:0 15px; height:40px; line-height:40px; border:1px solid #DDD; background:#F3F3F3; font-size:13px; color:#666; text-decoration:none; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px;}
.paginacion li a:hover {background:#E0E0E0; border-color:#CCC;}
.paginacion .pagina_activa{cursor:default; background:#F00; border-color:#F00; color:#FFF}
.paginacion .pagina_activa:hover{cursor:default; background:#F00; border-color:#F00; color:#FFF}
.paginacion li {display:inline; margin:0 7px 0 0}
.vistas_resultados {margin:10px 0;}
.vistas_resultados #vista_normal {background:url(../images/bg_nav_resultados.png) no-repeat center left; display:inline-block; width:134px; height:30px; margin:0;}
.vistas_resultados #vista_normal:hover {background:url(../images/bg_nav_resultados.png) no-repeat top left; display:inline-block; width:134px; height:30px; margin:0;}
.vistas_resultados #vista_normal.seleccionado {background:url(../images/bg_nav_resultados.png) no-repeat top left; display:inline-block; width:134px; height:30px; margin:0;}
.vistas_resultados #vista_imagenes {background:url(../images/bg_nav_resultados.png) no-repeat center top; display:inline-block; width:134px; height:30px; margin:0 -4px;}
.vistas_resultados #vista_imagenes:hover {background:url(../images/bg_nav_resultados.png) no-repeat center center; display:inline-block; width:134px; height:30px; margin:0 -4px;}
.vistas_resultados #vista_imagenes.seleccionado {background:url(../images/bg_nav_resultados.png) no-repeat center center; display:inline-block; width:134px; height:30px; margin:0 -4px;}
.vistas_resultados #vista_mapa {background:url(../images/bg_nav_resultados.png) no-repeat center right; display:inline-block; width:134px; height:30px;}
.vistas_resultados #vista_mapa:hover {background:url(../images/bg_nav_resultados.png) no-repeat bottom right; display:inline-block; width:134px; height:30px;}
.vistas_resultados #vista_mapa.seleccionado {background:url(../images/bg_nav_resultados.png) no-repeat bottom right; display:inline-block; width:134px; height:30px;}
.vistas_resultados span{display:none;}
.vista_mapa_resultados {border:solid 5px #FFF;}
.vista_imagenes {margin:20px 0;}
.vista_imagenes .column{margin-left:10px;}
.vista_imagenes .column h3{font-size:14px; font-weight:bold; color:#E6BC56; background:none; margin:5px 0; padding:0;}
.vista_imagenes .column .datos_propiedad span{font-size:11px; color:#FFF;}
.vista_imagenes .column .datos_propiedad p{font-size:16px; font-weight:bold; margin:5px 0; color:#FFF;}
.vista_imagenes .column .datos_propiedad li{font-size:11px; color:#FFF;}
.vista_imagenes .column .precio_propiedad strong{font-size:18px;}
.vista_imagenes .column a{border:solid 4px #FFF; display:block; text-decoration:none;  overflow:hidden; width:320px; height:250px;}
.vista_imagenes .column a:hover{border:solid 4px #F33;}
.vista_imagenes .imagen_propiedad{}
.vista_imagenes .imagen_propiedad img{width:320px; height:250px;}
.vista_imagenes .precio_propiedad{background:url(../images/bg_listado_imagenes.png); width:300px; height:35px; position:relative; top:-250px; padding:10px; font-size:11px; color:#FFF;}
.vista_imagenes .datos_propiedad{background:url(../images/bg_listado_imagenes.png); width:300px; height:175px; position:relative; top:-445px; padding:10px;}
.articulo_previo .container{background:#FFF; margin-left:10px; padding:12px;}
.articulo_previo .container a{display:block; margin-bottom:5px; font-size:12px;}
.articulo_previo .container p a{display:inline;}
.articulo_previo .container img{border:solid 5px #999;}
.articulo_previo .container h2{font-size:18px; color: #000;}
.articulo_previo_bottom {background:url(../images/bottom_2_col_contenido.png) no-repeat; width:346px; height:4px; margin:0 0 20px 10px;}
.info_resultados {text-align:right; font-size:13px;}
.info_resultados .column p{font-size:13px;}
.info_resultados .column strong{font-size:18px;}
.contenido_medio .inmobiliaria_titulo {background:#ADADAD; width:705px;}
#columna_tiny_izq .filtrar_busqueda{width:126px;}
.filtrar_busqueda{background:url(../images/boton_filtrar_busqueda.png) no-repeat top left; width:126px; height:40px; border:none; margin:5px 0; display:block;}
.filtrar_busqueda:hover{background:url(../images/boton_filtrar_busqueda.png) no-repeat top center;}
.filtrar_busqueda:active{background:url(../images/boton_filtrar_busqueda.png) no-repeat top right;}

/* BUSCADOR MINIATURA */
#buscador_min {margin-top:35px;}
#buscador_min ul{position:relative; z-index:2;}
#buscador_min li{display:inline-block; height:31px; padding-bottom:20px; margin-right:-4px;}
#buscador_min li a{background:#E7BD56; display:block; height:31px; font-size:14px; text-decoration:none; color:#FFF; font-weight:bold; padding:10px 10px 0 10px; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
#buscador_min li.seleccionado{background:url(../images/indicador_buscador_5.png) no-repeat bottom center;}
#buscador_min li.seleccionado a{background:#C18F1C;}
#buscador_min li a:hover{background:#C18F1C;}
#buscador_min #contenido_buscador_min{background:#E7BD56; color:#FFF; font-size:14px; font-weight:bold; position:relative; z-index:1; top:-10px; padding:17px; width:593px; margin-bottom:-10px;}
#buscador_min .radios{width:10px;}
#buscador_min .checkboxes{width:10px; margin-right:5px;}
#buscador_min label{margin-right:5px;}
#buscador_min #tipo_propiedad{width:204px;}
#buscador_min .inputs{height:25px; padding:0 5px; border:1px solid #BA8400; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; vertical-align:top;}
#buscador_min #colonia{width:305px;}
#buscador_min .precio{width:94px;}
#buscador_min .habitaciones{width:60px;}
#buscador_min #busqueda_avazada_toggle_min p{cursor:pointer; width:200px;}
#buscador_min .boton_buscar_min{background:url(../images/boton_buscar_lupa_t.png) no-repeat left top; width:102px; height:59px; border:none; cursor:pointer;}
#buscador_min .boton_buscar_min:hover{background:url(../images/boton_buscar_lupa_t.png) no-repeat center top;}
#buscador_min .boton_buscar_min:active{background:url(../images/boton_buscar_lupa_t.png) no-repeat right top;}
#buscador_min #bottom_buscador_min{background:url(../images/bottom_buscador_5.png) no-repeat; width:627px; height:8px; margin-bottom:20px;}
#buscador_min #opciones_avanzadas_min{width:607px; padding:10px; background:#D9AD55; display:none; font-size:12px; color:#FFF;}
#buscador_min #opciones_avanzadas_min label{margin-bottom:5px; display:inline-block; font-weight:bold;}
#buscador_min #opciones_avanzadas_min .inputs{margin:0 0 20px 0;}


/* CONTENIDO */
#contenido_container {width:960px; margin:auto; padding:20px 0;}
.regresar a{font-size:13px; color:#F00;}
.regresar { margin-bottom:10px;}
.contenido_medio {width:956px; margin:auto;}
.contenido_medio select{font-size:12px;}
.contenido_medio h3{background:#D5D5D5; font-weight:normal; padding:10px;}
.contenido_medio p{font-size:12px;}
.contenido_medio .realizar_busqueda {display:block; background:url(../images/realizar_busqueda.png) no-repeat top left; width:179px; height:53px;}
.contenido_medio .realizar_busqueda:hover{background:url(../images/realizar_busqueda.png) no-repeat top;}
.contenido_medio .realizar_busqueda:active{background:url(../images/realizar_busqueda.png) no-repeat top right;}
.contenido_medio .realizar_busqueda span{display:none;}
.contenido_medio .leer_articulos {display:block; background:url(../images/leer_articulos_boton.png) no-repeat top left; width:179px; height:53px;}
.contenido_medio .leer_articulos:hover {background:url(../images/leer_articulos_boton.png) no-repeat top;}
.contenido_medio .leer_articulos:active {background:url(../images/leer_articulos_boton.png) no-repeat top right;}
.contenido_medio .leer_articulos span{display:none;}
.titulo_big {background:#B6B6B6;width:920px; height:30px; padding:20px;}
.titulo_big-1 {background:#333; width:920px; height:30px; padding:20px;}
.contenido_big {background:#FFF; padding:10px;}
.contenido_big h2{margin:10px 0;}
.contenido_big li{list-style:disc; font-size:12px; color:#F00;}
.contenido_big a{color:#F00;}
.contenido_big_bottom {background:url(../images/contenido_bottom_big.png) no-repeat; width:960px; height:6px; margin:auto;}
.contenido_big .registrarme_ahora {background:url(../images/boton_registrarme_ahora.png) no-repeat top left; display:block; width:193px; height:42px;}
.contenido_big .registrarme_ahora:hover{background:url(../images/boton_registrarme_ahora.png) no-repeat top;}
.contenido_big .registrarme_ahora:active{background:url(../images/boton_registrarme_ahora.png) no-repeat right;}
.contenido_big .registrarme_ahora span{display:none;}
.contenido_big .modulos_info .container{background:#F2F2F2; margin:15px 0; padding:10px; color:#5A5A5A;}
.contenido_big .modulos_info .container .middle_vert{padding:0 50px; margin-top:10%; }
.contenido_big_lupa {background:url(../images/lupa_mapa_sitio.jpg) top left #FFF no-repeat; padding:10px;}
.contenido_big_lupa h2{margin:10px 0;}
.contenido_big_lupa li{list-style:disc; font-size:12px; color:#F00;}
.contenido_big_lupa a{color:#F00;}
#contenido_container  .anuncio-2 {background:url(../images/anuncio-2_bg.jpg) repeat-x #000; width:951px; margin:30px auto 0 auto; font-size:15px; color:#999;}
#contenido_container  .anuncio-2 h1{font-size:35px; font-weight:normal; color:#FFF;}
#contenido_container  .anuncio-2 p{margin:10px 0;}
#contenido_container  .anuncio-2 a{color:#E6B957; }
#contenido_container  .anuncio-2 .container{padding:20px;}
#contenido_container  .anuncio-2_bottom {background:url(../images/anuncio-2_bottom_sombra.png) repeat-x; width:951px; height:8px; margin:auto;}
#contenido_container .opciones_comparador {text-align:right;}
#contenido_container .opciones_comparador a{background:#D8D8D8; display:inline-block; color:#F33; margin:0 5px; padding:10px; font-size:12px;}
#contenido_container .opciones_comparador span{vertical-align:top; font-size:12px;}
.articulos_interesantes {width:236px; height:213px;}
#comentarios_min {width:766px; margin-left:180px;}
.comentarios {margin-bottom:20px; color:#333333;}
.comentarios p{padding:5px;}
.comentarios_propiedad {font-size:12px;}
.comentarios_propiedad .titulo_columnaizq_tipo-1{width:98%; font-weight:normal;}
.vendedor {background:#DEDEDE;}
.articulos_interesantes {font-size:12px;}
.articulos_interesantes .container{background:#FFFFFF; padding:17px; width:200px; margin:auto;}
.articulos_interesantes .container li{list-style:disc; color:#F33; margin-bottom:10px;}
.articulos_interesantes .container a:hover{color:#000;}
.articulos_interesantes span{font-size:15px; color:#000;}
.articulos_interesantes_bottom {background:url(../images/art_interes_comentarios.png) no-repeat; width:235px; height:4px;}
.advertencia_tipo-1 {background:#FFC; width:80%; margin:auto; padding:20px; text-align:center;}
.advertencia_tipo-1 input{padding:5px;}
.advertencia_tipo-1 p{font-size:14px; margin:0;}
#enviar_amigo_container {width:600px; margin:auto; background:url(../images/bg_general.jpg) repeat-x #EEE;}
#enviar_amigo_container #header_container{margin-bottom:20px;}
#enviar_amigo_container .link_enviar a{font-size:18px; color:#F33;}
#enviar_amigo_container #logo_header{left:18%;}
#enviar_amigo_container #contenido_container{padding:20px; width:560px; font-size:12px;}
#enviar_amigo_container #contenido_container img{float:left; margin:0 10px 10px 0;}
.disclaimer_enviar {font-size:11px; text-align:center; width:560px; margin:10px auto;}
#nuevo_usuario {background:url(../images/bg_nuevo_usuario.jpg) no-repeat right top #FFF; font-size:12px;}
#nuevo_usuario input{padding:5px; margin-bottom:10px;}
#nuevo_usuario p{margin-bottom:5px;}
.ingresar_boton {background:url(../images/boton_ingresar.png) no-repeat left top; width:177px; height:58px; display:block; border:none; cursor:pointer;}
.ingresar_boton:hover {background:url(../images/boton_ingresar.png) no-repeat center top;}
.ingresar_boton:active {background:url(../images/boton_ingresar.png) no-repeat right top;}
.registrarse_boton {display:block; background:url(../images/boton_registrarme.png) no-repeat; width:152px; height:42px; border:none; cursor:pointer;}
.registrarse_boton span{display:none;}
#modulo_herramientas_home {margin-bottom:20px;}
#modulo_herramientas_home .column{padding:0 20px 20px 0;}
#modulo_herramientas_home a{display:block; background:url(../images/bg_herramientas.png) top repeat-x #EEE; width:140px; height:88px; padding-top:20px; text-align:center; line-height:140%; font-size:13px; text-decoration:none; color:#F33; border:solid 1px #ACACAC; border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px;}
#modulo_herramientas_home a:hover{display:block; background:url(../images/bg_herramientas_invert.png) top repeat-x #D6D6D6;}
#modulo_herramientas_home img{margin-bottom:10px;}
.banner_home {margin-bottom:20px;}

/* DETALLE DE PROPIEDAD */
.detalle_propiedad {background:url(../images/bg_detalle_propiedad.jpg) no-repeat;}
.detalle_propiedad .detalle_propiedad_col_datos p{font-size:12px; color:#333;}
.detalle_propiedad a.color-1{color:#333;}
.detalle_propiedad .detalle_propiedad_col_datos h1{color:#E6B957; font-size:33px; font-weight:normal; margin:10px 0;}
.detalle_propiedad .comentarios_rating {margin:20px 0;}
.detalle_propiedad .contenedor_precio_propiedad_detalles {margin:20px 0;}
.detalle_propiedad .precio_detalle{background:url(../images/bg_precio_propiedad2.png) no-repeat; width:405px; height:61px; font-size:16px; color:#FFF; text-align:center; padding-top:5px; position:relative; z-index:2;}
.detalle_propiedad .precio_detalle strong{font-size:36px;}
.detalle_propiedad #galeria{margin:auto; width:393px; position:relative; top:-8px; left:6px; z-index:0;}
.detalle_propiedad #galeria #carrusel_galeria{width:392px; height:60px; margin-top:10px;}
.detalle_propiedad #galeria .thumbs {overflow:hidden; width:270px; float:left;}
.detalle_propiedad #galeria .thumbs img{border:solid 3px #FFF;}
.detalle_propiedad #galeria .thumbs ul{overflow:hidden; display:inline-block;}
.detalle_propiedad #galeria .thumbs li{display:inline-block; padding-top:3px; margin-right:3px;}
.detalle_propiedad #galeria .thumbs li.activo{background:url(../images/bg_slider_item.jpg) no-repeat center top;}
.detalle_propiedad #galeria .thumbs li.activo img{border:solid 3px #E7BD56;}
.detalle_propiedad #galeria .nav_left{background:url(../images/left_img_carrusel_terreno.png) no-repeat center; width:9px; height:15px; float:left; padding-top:40px; margin-right:5px;}
.detalle_propiedad #galeria .nav_right{background:url(../images/right_img_carrusel_terreno.png) no-repeat center; width:9px; height:15px; float:left; padding-top:40px; margin-left:5px;}
.detalle_propiedad .contenedor_precio_propiedad_detalles .in_precio_detalles_propiedad {background:url(../images/in_precio_propiedad.jpg) repeat-x bottom #E7BE55; width:273px;}
.detalle_propiedad .contenedor_precio_propiedad_detalles .in_precio_detalles_propiedad span{display:block; padding:20px 20px; color:#FFF; font-weight:bold; font-size:36px;}
.detalle_propiedad .contenedor_precio_propiedad_detalles  .bottom_precio_detalles_propiedad{background:url(../images/bottom_precio_propiedad.png) no-repeat; width:273px; height:5px;}
.detalle_propiedad .calcula_credito {background:#FFF; width:273px; height:38px; border-top:1px solid #A5A5A5;}
.detalle_propiedad .calcula_credito p{margin:10px;}
.detalle_propiedad .social_detalles_propiedad{padding-left:50px;}
.fotos_video_precio {width:112px; margin:auto;}
.fotos_video_precio .fotos_precio{background:url(../images/resultados_con_fotos.png) no-repeat; width:56px; height:32px;}
.fotos_video_precio .fotos_precio a{display:block; color:#FFF; text-decoration:none; font-weight:bold; position:relative; top:5px; left:4px;}
.fotos_video_precio .fotos_precio a:hover{color:#999;}
.fotos_video_precio .fotos_precio a.inactivo{color:#999;}
.fotos_video_precio .videos_precio a{display:block; color:#FFF; text-decoration:none; font-weight:bold; position:relative; top:5px; left:4px;}
.fotos_video_precio .videos_precio a:hover{color:#999;}
.fotos_video_precio .videos_precio a.inactivo{color:#999;}
.fotos_video_precio .videos_precio{background:url(../images/resultados_con_videos.png) no-repeat; width:56px; height:32px;}
.precio_resultados .num_coment_precio{margin:20px auto; color:#000; text-align:center;}
.plusvalia_rating{background:#FFF; width:190px; height:21px; border:1px solid #CCC; }
.plusvalia_rating span{display:inline-block; width:55px; height:15px; font-size:12px; font-weight:bold; color:#CCCCCC; margin:1px; padding:2px; text-align:center;}
.plusvalia_rating span.plusvalia_activa{background:#E6B957; color:#FFF;}
.llame_vendedor {background:url(../images/boton_llame_vendedor.png) no-repeat left top;display:block; width:199px; height:65px; margin-top:30px;}
.llame_vendedor:hover{background:url(../images/boton_llame_vendedor.png) no-repeat center top;}
.llame_vendedor:active{background:url(../images/boton_llame_vendedor.png) no-repeat right top;}
.llame_vendedor span{display:none;}
.enviar_mail_vendedor {background:url(../images/enviar_correo_vendedor.png) no-repeat left top; display:block; width:199px; height:65px; margin-top:30px;}
.enviar_mail_vendedor:hover {background:url(../images/enviar_correo_vendedor.png) no-repeat center top;}
.enviar_mail_vendedor:active {background:url(../images/enviar_correo_vendedor.png) no-repeat right top;}
.enviar_mail_vendedor span{display:none;}
#detalles_propiedad_min {background:url(../images/bg_detalle_min.jpg) repeat-x; padding:10px;}
.detalle_video_min{background:url(../images/resultados_con_videos.png) no-repeat; display:block; width:44px; height:32px; padding:7px 0 0 12px; margin:5px 10px 0 0; font-size:14px ; font-weight:bold; text-decoration:none; color:#FFF;}
#galeria_detalle {margin-bottom:10px;}
#galeria_detalle img{width:444px;}
.opciones_usuario_detalle {margin-bottom:10px; height:20px;}
.opciones_usuario_detalle p{float:left; margin-right:10px;}
#detalles_propiedad_min .info_resultado {padding-left:10px; font-weight:bold;}
#detalles_propiedad_min #social_detalle_min {margin:10px 0;}
#detalles_propiedad_min .info_resultado p{padding:5px; background:#DDD; text-align:center; margin:auto;}
.calcula_credito {background:#FFF; border-top:solid 1px #CCC; padding:10px; font-size:20px; margin-bottom:20px;}
.container_modulo_detalles_min {margin-bottom:20px;}
.container_modulo_detalles_min .titulo_modulo_detalles_min{background:#CCC; padding:5px; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
.container_modulo_detalles_min .contenido_modulo_detalles_min {background:#FFF; padding:10px;}
.container_modulo_detalles_min .bottom_modulo_detalles_min{background:url(../images/bottom_modulo_detalle_min.png) no-repeat; width:467px; height:8px;}
.container_modulo_detalles_min .info_contacto_modulo_detalle_min{background:#000; height:100%; text-align:center; padding:10px; cursor:pointer;}
#mas_propiedades_min {background:url(../images/bg_detalle_min.jpg) repeat-x;}
#mas_propiedades_min #titulo_mas_propiedades_min{background:#E7BD56; padding:10px 5px 0; font-weight:bold; border-radius:5px 5px 0 0; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0;}
.sombra_mas_propiedades_min {background:url(../images/bg_mas_propiedades_min.png) no-repeat; width:298px; height:7px;}
.rango_precios_min {margin-bottom:10px; color:#FFF;}
.rango_precios_min .container{background:#E7BD56; width:80%; padding:5px 10px; border:2px solid #CB971D; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.rango_precios_min .container p{margin-bottom:5px;}

/* RESULTADOS */
.resultados_min {font-size:12px;}
#opciones_vistas_resultados_min{height:36px; padding-left:10px; clear:both;}
#opciones_vistas_resultados_min ul{float:left;}
#opciones_vistas_resultados_min li{list-style:none; display:inline-block;}
#opciones_vistas_resultados_min li a{display:block; height:26px; font-size:14px; color:#FFF; text-decoration:none; padding:5px 10px; background:#CC981E; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
#opciones_vistas_resultados_min li a:hover{background:#E7BD56;}
#opciones_vistas_resultados_min li a.activo{background:#E7BD56;}
.titulo_resultado {background:#E7BD56; padding:5px 10px; color:#FFF; font-size:16px; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
.titulo_resultado ul{text-align:right;}
.titulo_resultado li{display:inline; text-align:right; font-size:13px;}
.titulo_resultado a{text-decoration:none; color:#FFF;}
.resultado_destacado .titulo_resultado {background:url(../images/bg_resultado_destacado_titulo.jpg) repeat-x bottom #E7BD56;}
.resultado_min {margin-bottom:10px;}
.contenido_resultado_min {background:#FFF; padding:10px; font-size:12px; border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px;}
.contenido_resultado_min p{margin-bottom:5px;}
.contenido_resultado_min .info_resultado {padding-left:10px; font-weight:bold;}
.contenido_resultado_min .info_resultado p{padding:5px; background:#DDD; text-align:center;}
.sombra_resultado_min {background:url(../images/sombra_resultados_min.png) no-repeat; width:466px; height:8px;}
#paginacion_col_min{margin:10px 0;}
#paginacion_col_min li{display:inline; margin-left:5px;}
#paginacion_col_min a{display:inline-block; padding:5px; color:#E7BD56; text-decoration:none; font-weight:bold; background:#F7F7F7; border:solid 1px #BCBCBC; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
#paginacion_col_min span.inactivo{display:inline-block; padding:5px; color:#CCC; font-weight:bold; background:#F7F7F7; border:solid 1px #BCBCBC; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}
#paginacion_col_min a:hover{background:#333;}
.resultado_destacado .contenido_resultado_min{background:#FFF8E7; color:#333;}
.resultado_destacado .contenido_resultado_min .info_resultado{color:#333;}
.inmobiliaria_min {margin:5px 0;}
.detalles_min {padding:5px 10px;}

/* COMPARADOR DE PROPIEDADES */
#comparador_anuncio {background:url(../images/bg_title_comparador.jpg) no-repeat -5px center #CFCFCF; border-top:solid 1px #999999;  width:678px; height:106px; margin:0 auto 20px auto; padding:20px 0 0 280px;}
#comparador_anuncio h1{font-size:38px; font-weight:normal; margin:0;}
#comparador_anuncio p{color:#666; font-size:12px;}
#comparador {margin:20px 0;}
.descripcion_comparador {background:url(../images/bg_left_comparador_propiedades.jpg) repeat-y right #d2d2d2; display:block; float:left;}
.descripcion_comparador .container{font-size:12px; color:#666666; padding:0 10px; border-bottom:solid 1px #D7D7D7;}
.descripcion_comparador .container span{position:relative; top:40%;}
#comparador_propiedades {display:inline-block; overflow:auto; }
#comparador_propiedades a{color:#F33;}
#comparador_propiedades a:hover{color:#000;}
#comparador_propiedades input{background:url(../images/borrar_propiedad_boton.png) no-repeat top left; width:142px; height:41px; border:none; position:relative; top:10%; left:16%; cursor: pointer}
#comparador_propiedades input:hover{background:url(../images/borrar_propiedad_boton.png) no-repeat top center;}
#comparador_propiedades input:active{background:url(../images/borrar_propiedad_boton.png) no-repeat top right;}
#comparador_propiedades img{position:relative; top:6%; left:16%; border:solid 5px #E7E7E7;}
#comparador_propiedades .container{border-bottom:solid 1px #D7D7D7;}
#comparador_propiedades .container span{margin-left:10px; position:relative; top:30%; font-size:12px;}
#comparador_propiedades .blanco{background:#FFF;}
#comparador_propiedades .gris{background:#f7f7f7;}
#comparador_propiedades .container{width:215px;}
#comparador_propiedades .precio_propiedad{color:#E6B957; font-size:36px;}
#comparador_propiedades .vacio_comparador{font-size:12px; width:250px; position:relative; top:20%; left:10%;}
#comparador_propiedades .vacio_comparador a{background:#D2D2D2; display:block; padding:10px; border:solid 1px #999; margin-top:10px;}
#comparador_propiedades .vacio_comparador a:hover{color:#000;}
#comparador_propiedades .vacio_comparador img{position:static; top:0; left:0; border:none;}
.mas_propiedades {font-size:12px; margin:20px 0;}
.mas_propiedades h3{color:#000; font-weight:normal; font-size:18px;}
.mas_propiedades a{color:#F33;}
.mas_propiedades a.color-1{color:#666; display:block; margin-bottom:5px;}
.mas_propiedades .detalles img{border:solid 5px #FFF;}
.mas_propiedades .datos{background:#F7F7F7; margin:0 5px 5px; padding:5px; text-align:center;}
.mas_propiedades .container{margin:10px 0;}
.ocultas{display: none !important;}

/* ZONA PRIVADA */
#datos_usuario {font-size:12px; margin:20px 0;}
#datos_usuario h2{margin-bottom:5px;}
#propiedades_guardadas {width:713px; margin:10px 0;}
#paginacion_propiedades {background:#EBEBEB; width:478px; padding:5px; text-align:right;}
#paginacion_propiedades input{width:20px;}
#paginacion_propiedades span{display:inline-block; background:#DBDBDB; color:#999; padding:5px; border:inset 1px #666666;}
#navegacion_zona_privada {font-size:12px; margin:20px 0;}
.resaltar_subir_propiedad {background:#ECECEC; width:97%; margin:0 0 20px 0;}
.resaltar_subir_propiedad .pasos_container {display:inline-block; text-align:center;  font-size:16px; }
.resaltar_subir_propiedad .pasos_container span{display:inline-block; padding:5px; text-decoration:none; color:#000;}
.resaltar_subir_propiedad .pasos_container .activo{background:#E6B957; color:#FFF;}
.resaltar_subir_propiedad .pasos_container img{float:left; position:relative; margin-bottom:-10px;}
.nuevos_mensajes {background:#000; display:inline-block; padding:3px; color:#FFF; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px}
.borrar_small {background:url(../images/boton_borrar_small.png) no-repeat; width:32px; height:29px; border:none; cursor:pointer;}
.casas_zona_privada p{background:#FFF; text-align:center; padding:5px; margin-right:5px; font-size:14px;}

/* CENTRO DE COMPRAS */
#titulo_cc {background:url(../images/bg_titulo.png) repeat-x; width:956px; height:46px; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
#contenido_cc {background:#FFF; width:933px; border-right:solid 3px #999; border-bottom:solid 2px #CCC; padding:10px;}
#pasos_cc {font-size:12px; text-align:center; margin:10px auto;}
#pasos_cc .paso-a p{background:#CACFC8; padding:5px; border:solid 1px #F33; float:left; height:14px; border-right:none;}
#pasos_cc .paso-a-2 p{background:#CACFC8; padding:5px; border:solid 1px #F33; float:left; height:14px; border-right:none; border-left:none;}
#pasos_cc .paso-a-3 p{background:#CACFC8; padding:5px; border:solid 1px #F33; float:left; height:14px; border-left:none;}
#pasos_cc .paso-s p{background:#CACFC8; padding:5px; float:left; height:16px;}
#contenido_cc .opciones{width:264px; margin:20px 0;}
#contenido_cc .opciones p{margin:5px; font-size:14px;}
#contenido_cc .opciones ol{font-size:12px; width:200px; margin:auto;}
#contenido_cc .opciones li{margin-bottom:10px;}
.continuar_btn{display:inline-block; background:url(../images/1_centro_compras_1_r9_c2.png) no-repeat; width:187px; height:59px; margin:auto;}
.continuar_btn{display:inline-block; background:url(../images/boton_pagar.png) no-repeat; width:131px; height:55px; margin:auto;}
.continuar_btn span{display:none;}
#contenido_cc .encabezado_cc{height:148px;}
#contenido_cc #un_mes {background:url(../images/head_propiedad_unmes.png) no-repeat;}
#contenido_cc #un_mes p{width:50%; float:left; font-size:20px; margin-top:58px;}
#contenido_cc #un_mes strong{font-size:25px;}
#contenido_cc #un_mes h1{float:left; font-size:88px; margin:25px 0 0 30px;}
#contenido_cc #tiempo_ilimitado{background:url(../images/head_propiedad_tiempo.png) no-repeat;}
#contenido_cc #tiempo_ilimitado p{width:65%; float:left; font-size:20px; margin-top:58px;}
#contenido_cc #tiempo_ilimitado strong{font-size:25px;}
#contenido_cc #tiempo_ilimitado h1{float:left; font-size:88px; margin:25px 0 0 30px;}
#contenido_cc #tiempo_ilimitado_2-5{background:url(../images/head_propiedades_tiempo.png) no-repeat; text-align:center;}
#contenido_cc #tiempo_ilimitado_2-5 h1{font-size:88px; margin:0;}
#contenido_cc #tiempo_ilimitado_2-5 p{font-size:20px; margin:-15px 0;}
#continuar{width:310px; margin:20px auto;}
.datos_cc{font-size:12px;}
.datos_cc label{margin:5px 0 3px 0; display:inline-block;}
.datos_cc select{border: inset 1px #999; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; margin:0 0 10px 0;}
.datos_cc input {padding:3px; margin:0 0 10px 0;}
.datos_cc .col_der_cc{padding-left:20px;}
.datos_cc .col_der_cc .titulo_right_cc{background:#B8B8B8; padding:10px;}
.datos_cc .col_der_cc .titulo_right_cc h1{margin:0;}
.datos_cc .col_der_cc .titulo_right_cc h3{margin:0;}
.datos_cc .col_der_cc .titulo_right_desc_cc{background:#CDCDCD; padding:10px; margin-bottom:20px;}
.datos_cc .col_der_cc .titulo_right_desc_cc p{margin:10px 0;}
.datos_cc .col_izq_cc .fixed{padding-right:20px;}
.datos_cc .col_izq_cc .inside_info{padding:10px; margin:20px 0;}
.datos_cc .col_izq_cc .inside_info p{margin:5px;}
.datos_cc .col_izq_cc .inside_info-4{padding:10px; margin-bottom:20px;}
.adicionales input{margin-right:10px;}
.establecer_clase_boton {border:1px solid #F33; background:#CDCDCD; color:#F33; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

/* IMPRIMIR */
#contenido_imprimir {width:684px; margin:auto; font-size:12px; text-align:justify;}
#comparador_imprimir {color:#000;}
#contenido_imprimir h1{font-size:38px; font-weight:normal; margin:10px 0;}
#contenido_imprimir p img{border:solid 5px #E8E8E8; margin:0 10px 10px 0;}
#contenido_imprimir p {margin-bottom:0.5em;}
#comparador_imprimir #comparador_propiedades{overflow:visible;}
#comparador_imprimir #comparador_propiedades .precio_propiedad{font-size:38px; font-weight:normal; margin:0; color:#000;}
#comparador_imprimir .descripcion_comparador{background:none;}
#comparador_imprimir .descripcion_comparador .container{border:none;}
#comparador_header_imprimir {width:683px; margin:20px auto;}
#comparador_header_imprimir p{margin:0;}
#top_header_imprimir{background:url(../images/bg_top_header_imprimir.jpg) no-repeat; width:683px; height:8px;}
#in_header_imprimir {border-left:#E8E8E8 solid 2px; border-right:#E8E8E8 solid 2px; text-align:center; font-weight:bold;}
#in_header_imprimir a#logo_imprimir{display:block; position:relative; top:-13px;}
#bottom_header_imprimir {background:url(../images/bg_bottom_header_imprimir.jpg) no-repeat; width:683px; height:8px;}
#patrocinador_imprimir {width:676px; margin:auto; border-top:solid 1px #A5A6AB; border-left:solid 1px #A5A6AB; border-right:solid 1px #A5A6AB; border-bottom:solid 8px #A5A6AB;}
#detalle_propiedad_imprimible-1 h1{font-size:38px; font-weight:bold;}
#detalle_propiedad_imprimible-1 h2{font-size:35px; font-weight:normal; margin:0;}
#detalle_propiedad_imprimible-1 .desarrollo_imprimible_thumb-1 img{margin:0 2px; border:none;}
.detalle_imprimible_bottom {background:url(../images/detalle_bottom_imprimir.png) no-repeat; width:695px; height:5px;}
.detalle_border {border:#C9C9C9 solid 1px; width:695px;}

/* CONTENIDO COLUMNA IZQUIERDA */
.contenido_col_izq {background:#FFF; padding:5px; font-size:12px; margin-bottom:20px;}
.contenido_col_izq hr{border:groove 1px #ccc; margin:20px 0;}
.contenido_col_izq p{margin-bottom:.5em;}
.contenido_col_izq input{padding:5px;}
#guardar {width:300px; float:right;}
.guardar_boton {background:url(../images/guardar_cambios.png) no-repeat left top; width:170px; height:83px; border:none;}
.guardar_boton:hover{background:url(../images/guardar_cambios.png) no-repeat center top;}
.guardar_boton:active{background:url(../images/guardar_cambios.png) no-repeat right top;}
.anuncio-1{background:url(../images/anuncio-2_bg.jpg) repeat-x #000; width:100%; margin:30px auto 0 auto; font-size:15px; color:#FFF;}
.anuncio-1 .container{padding:10px;}
#preguntas_frecuentes {background:url(../images/preguntas_frecuentes.jpg) no-repeat #FFF; padding:10px 0 10px 60px; border-top:solid 1px #CCC; margin-bottom:10px;}
#preguntas_frecuentes a{font-size:16px; font-weight:bold;}
#vendiendo_casa {background:url(../images/vendiendo_casa.jpg) no-repeat center 10px #FFF; border-top:solid 1px #CCC; padding:70px 10px 20px 20px;}
#vendiendo_casa p{font-size:14px; text-align:right;}
#vendiendo_casa a{display:block; background:url(../images/vender_casa_boton.png) no-repeat left top; width:145px; height:43px;}
#vendiendo_casa a:hover{background:url(../images/vender_casa_boton.png) no-repeat center top;}
#vendiendo_casa a:active{background:url(../images/vender_casa_boton.png) no-repeat right top;}
#vendiendo_casa span{display:none;}
#ayuda_linea {background:url(../images/ayuda_bg.jpg) no-repeat #FFF; border-top:solid 1px #CCC; padding:30px 10px 20px 50px;}
#ayuda_linea a{font-weight:bold; font-size:16px;}
.agregar_boton {background:url(../images/agregar_boton.png) no-repeat; border:none; width:98px; height:26px;}
.borrar_boton {background:url(../images/borrar_boton.png) no-repeat; width:44px; height:39px; border:none;}
#mapa_vivienda_nueva {margin-bottom:20px;}
.condominio_nuevo {margin:20px 0;}
.logo_condominio {width:175px;}
.logo_condominio img{border:1px solid #CCC;}
.info_condominio {padding-left:17px;}
.info_condominio .size-3{font-size:14px;}
.precio_info_condominio {width:146px; margin:10px 0;}
.precio_info_condominio .container{background:#E6B957; padding:5px;}
.precio_info_condominio_bottom{background:url(../images/precio_bottom_vivienda_nueva.png) no-repeat; width:146px; height:2px;}
.inmobiliaria_content{background:#FFF; padding:5px; width:112px; height:48px; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
.inmobiliaria_bottom{background:url(../images/round_bottom_inmobiliarias.png) no-repeat; width:122px; height:7px; margin-bottom:10px;}
.boton_avisenme{background:url(../images/boton_avisenme.png) no-repeat; width:107px; height:26px; border:none; display:inline-block;}
.inmobiliarias_min{width:526px; padding-left:109px;}
.inmobiliarias_min .inmobiliaria_content{width:158px;}
.inmobiliarias_min .inmobiliaria_bottom{background:url(../images/round_bottom_inmobiliarias-2.png) no-repeat; width:168px; height:7px; margin-bottom:10px;}
#datos_resultados{width:100%; margin-bottom:23px;}
#datos_resultados p{margin:0 0 5px;}
#datos_resultados .dato1{font-size:15px; float:left;}
.banner-uno_ochenta {width:180px; height:150px; margin:0 auto 20px;}
.banner-doscientos {width:200px; height:200px; margin:0 auto 20px; background: #FFF;}
#wide_skyscraper{background:#006; color:#FFF; width:160px; height:600px; margin:10px 0;}
.box_min {width:160px; height:160px; background:#006; color:#fff;}


/* CONTENIDO COLUMNA DERECHA */
#avaluos_anuncio {background:url(../images/avaluos_anuncio.jpg) no-repeat; width:678px; height:126px; margin:auto; padding:20px 0 0 280px;}
#avaluos_anuncio h1{color:#F00; font-size:36px; font-weight:normal; margin:0;}
#avaluos_anuncio p{font-size:13px;}
#titulo_avaluos {background:#CBCBCB; padding:10px 20px; font-size:12px;}
#titulo_avaluos h1{font-size:30px; font-weight:normal; margin:0;}
#tips_anuncio {background:url(../images/bg_tips_anuncio.jpg) no-repeat; width:678px; height:126px; margin:auto; padding:20px 0 0 280px; border-top:solid 1px #999;}
#tips_anuncio h1{color:#F00; font-size:36px; font-weight:normal; margin:0;}
#tips_anuncio p{font-size:14px; margin:0 10px 0 0}
#avaluos_anuncio p{font-size:13px;}
.contenido_columna_der {background:#FFF;}
.contenido_columna_der .container{width:94%; padding:20px; font-size:14px;}
.contenido_columna_der .container .column{margin-bottom:20px;}
.contenido_columna_der .container h3{font-weight:normal; font-size:18px;}
.contenido_columna_der .container span{font-size:14px;}
.contenido_columna_der .container a{color:#F00;}
.contenido_columna_der .container a:hover{color:#000;}
#servicios_adicionales {background:url(../images/bg_servicios_adicionales.jpg) no-repeat left top #F7F7F7; border-top:solid 1px #999999; padding:10px 0 10px 180px;}
.desarrollo_detalle_propiedad .container{padding:10px;}
.desarrollo_detalle_propiedad_min .container{padding:10px;}
.desarrollo_detalle_propiedad_min {margin-bottom:20px;}

.resultados_min .contenedor_titulo_desarrollo_propiedad {font-size:18px; top:-13px; margin-bottom:20px;}
.resultados_min .contenedor_titulo_desarrollo_propiedad a{padding:0;}
.contenedor_titulo_desarrollo_propiedad {margin-bottom:10px; position:relative; height:54px; top:-15px; padding-left:7px;}
.contenedor_titulo_desarrollo_propiedad .titulo_left_dp{background:url(../images/bg_left_title_dp.png) no-repeat; width:13px; height:54px; display:inline-block; float:left;}
.contenedor_titulo_desarrollo_propiedad a{font-size:12px; padding:20px 0 0 5px; display:inline-block;}
.contenedor_titulo_desarrollo_propiedad .contenido_titulo_dp{background:url(../images/bg_center_title_dp.png) repeat-x; height:54px; display:inline-block; float:left;}
.contenedor_titulo_desarrollo_propiedad .contenido_titulo_dp p{padding:10px;}
.contenedor_titulo_desarrollo_propiedad .titulo_right_dp{background:url(../images/bg_right_title_dp.png) no-repeat; width:13px; height:54px; display:inline-block; float:left;}
#rango_precios_desarrollo{margin:0 auto 10px auto; width:165px;}
#rango_precios_desarrollo .color-2{color:#FFF;}
#rango_precios_desarrollo .size-2{font-size:24px;}
#rango_precios_desarrollo .rango_precio{background:#E5B956; padding:5px; width:155px;}
#rango_precios_desarrollo .rango_precio_bottom{background:url(../images/sombra_min.png) no-repeat; width:165px; height:2px;  margin-bottom:10px;}
.clic_ver_info {background:#000; position:relative; width:490px; height:242px; top:-10px; left:-10px; float:left; margin-bottom:-266px; z-index:2; text-align:center;}
.clic_ver_info img{margin:60px 0;}
.info_contacto_oculta {position:relative; margin-bottom:-263px; z-index:0;}
#video_big{display:none; float:left; height:254px; width:392px; position:relative; left:7px; top:-9px; margin-bottom:-254px; z-index:1;}
.video {float:left; position:relative; top:-63px; left:340px; cursor:pointer;}
.video img{border:solid 3px #FFF;}
.video .current_point{height:3px;}
.video_seleccionado .current_point{background:url(../images/bg_slider_item.jpg) no-repeat center top;}
.video_seleccionado img{border-color:#E5B956;}
.super_box{background:#FFF; padding:5px; margin-bottom:10px;}
.min_box{background:#FFF; padding:5px; margin-bottom:10px;}
.imagen_articulo_col_der{background:#FFF; padding:5px; border:solid 1px #CCC; text-align:center;}
.articulo_bottom{background:url(../images/sombra_col_der.png) no-repeat center top; width:300px; height:12px;}

/* CALCULADORA HIPOTECARIA */
.propiedad_elegida{padding:10px; font-size:12px; width:95%; margin:auto; position:relative; top:10px;}
.propiedad_elegida .info_resultado p{padding:5px; background:#DDD; text-align:center; margin:10px 5px 10px 0;}
#calcular_datos {width:264px;}
#calcular_datos .column{padding:0 20px 0 0;}
#calcular_datos input{border:inset 1px #CCC; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; padding:5px; font-size:20px; width:168px;}
#calcular_datos .anios{width:100px; padding:5px; border: inset 1px #333; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
#calcular_datos .calcular{background:url(../images/calcular.png) no-repeat; border:none; display:block; width:147px; height:52px;}
#resultados_calculadora thead td{}
#resultados_calculadora td{border:1px solid #FFF; padding:5px;}
#resultados_calculadora .row-1{background:#F2F1F0;}
#resultados_calculadora .row-1:hover{background:#333333; color:#FFF;}
#resultados_calculadora .row-2{background:#FFF;}
#resultados_calculadora .row-2:hover{background:#333333; color:#FFF;}
#propiedades {background:#F5F5F5;}
#propiedades .container{padding:10px;}
.skin {background:url(../images/skin_hsbc.jpg) no-repeat top right;}

/* 404 */
#not_found_anuncio {background:url(../images/advertencia_bg.jpg) no-repeat; width:676px; height:126px; padding:20px 0 0 280px; margin:auto;}
#not_found_anuncio h1{color:#F00; font-size:36px; font-weight:normal; margin:0;}
#not_found_anuncio p{font-size:13px;}
.nubes_tag {background:url(../images/nubes_tag.png) no-repeat; width:300px; height:48px;}
.tag_cloud {padding:5px; background:#FFF;}
#contenido_container .tag_size-1{font-size:14px; color:#F00;}
#contenido_container .tag_size-2{font-size:18px; color:#666666;}
#contenido_container .tag_size-3{font-size:22px; color:#000;}
#contenido_container .tag_size-1:hover,.tag_size-2:hover,.tag_size-3:hover{font-weight:bold;}

/* MODULO DETALLES */
.modulo_detalles {background:#FFF;width:931px; margin:auto; padding:10px; color:#5B5B5B;}
.modulo_detalles_bottom {background:url(../images/bottom_detalles.png) no-repeat; width:951px; height:5px; margin:auto;}
.modulo_detalles p {padding:0 10px; text-align:justify;}
.detalle_bottom {background:url(../images/bottom_detalles_medio.png) no-repeat; width:713px; height:6px; margin-bottom:20px;}
.detalle_bottom_resultados {background:url(../images/sombra_resultados.png) no-repeat; width:705px; height:4px;  margin-bottom:20px;}
#contenido_container .otros{width:931px; margin:10px auto;}
#contenido_container .otros .column{margin-top:10px; font-size:12px;}
#contenido_container .otros .column a{color:#666;}
#contenido_container .conoce .conoce_row{background:url(../images/conoce_bg.jpg) repeat-x bottom; width:224px; padding:5px 0; margin-top:25px;}
#contenido_container .conoce .conoce_row p{font-size:12px; text-align:justify; padding:0 10px;}
#contenido_container .conoce .conoce_row h3{background:#EDEDED; padding:6px 2px; margin-left:6px; width:210px; font-weight:normal; font-size:15px;}
#contenido_container .conoce .conoce_row a{color:#F00;}
.top_codigo_buscador_home {background:url(../images/top_buscador_codigo_propiedad.png) no-repeat; width:300px; height:9px; margin-top:20px;}
.in_codigo_buscador_home {background:url(../images/bg_buscar_codigo_propiedad.png) repeat-y; width:300px; font-size:12px; height:65px;}
.in_codigo_buscador_home .container{padding:15px 0; margin-left:13px;}
.bottom_codigo_buscador_home {background:url(../images/bottom_buscador_codigo_propiedad.png) no-repeat; width:300px; height:17px; margin-bottom:20px;}
#home .lupa_buscar {background:url(../images/boton_busqueda_lupa.png) no-repeat top left; width:45px; height:40px; border:none;}
#home input{width:111px; padding:8px;}
#home .varios_home{width:956px;}
#vista_dos_columnas .lupa_buscar {background:url(../images/boton_busqueda_lupa.png) no-repeat top left; width:45px; height:40px; border:none;}
#vista_dos_columnas input{width:140px; padding:8px;}
#vista_dos_columnas select.rangos{width:156px; padding:8px;}
#vista_dos_columnas .varios_home{width:956px;}
.varios_home .contenido_varios h1{padding:10px; margin-bottom:20px;}
.varios_home .titulo{background:url(../images/top_destacado_home.jpg) repeat-x; width:302px;  border:solid 1px #CCC; font-size:20px; color:#666; border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
.varios_home .titulo p{padding:10px 0 5px 20px;}
.varios_home p{padding:10px;}
.varios_home .contenido_varios{width:302px; background:#FFF;}
.varios_home .bottom_varios{background:url(../images/bottom_home_destacado.png) no-repeat; width:301px; height:15px;}
.varios_home input{padding:8px; color:#CCCCCC; margin:5px 10px 0;}
.boton_suscribir_home {background:url(../images/suscribirme.png) no-repeat; border:none; width:96px; height:28px; display:block;}
#buscador_codigo_propiedad_min{width:159px; height:142px; margin:20px 0;}
#top_buscador_codigo_propiedad_min{background:url(../images/top_buscador_codigo160.png) no-repeat; width:156px; height:10px;}
#in_buscador_codigo_propiedad_min{background:url(../images/bg_buscador_codigo160.png) repeat-y; padding:10px; text-align:center;}
#in_buscador_codigo_propiedad_min input{width:100px; border:inset 1px #333; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
#in_buscador_codigo_propiedad_min #boton_buscar_min{background:url(../images/boton_buscar_codigo_120.png) no-repeat top left; width:120px; height:41px; border:none; margin:auto; display:block;}
#in_buscador_codigo_propiedad_min #boton_buscar_min:hover{background:url(../images/boton_buscar_codigo_120.png) no-repeat top center;}
#in_buscador_codigo_propiedad_min #boton_buscar_min:active{background:url(../images/boton_buscar_codigo_120.png) no-repeat top right;}
#bottom_buscador_codigo_propiedad_min{background:url(../images/bottom_buscar_codigo_160.png) no-repeat; width:156px; height:16px;}

/* PUBLICIDAD */
.publicidad_col_der h3{font-size:13px; color:#666; background:none;}
.publicidad .container{border-bottom:groove 2px #fff; padding:0 0 20px 0; margin-bottom:10px;:}
.publicidad a{color:#F00; font-size:12px;}
.publicidad #suscribirse {font-size:12px; margin-bottom:20px;}
.publicidad #suscribirse .suscribirse_boton {background:url(../images/suscribirme_boton.png) no-repeat left top; width:91px; height:26px; border:none; margin:5px 0 0 108px;}
.publicidad #suscribirse .suscribirse_boton:hover{background:url(../images/suscribirme_boton.png) no-repeat center top;}
.publicidad #suscribirse .suscribirse_boton:active{background:url(../images/suscribirme_boton.png) no-repeat right top;}
.publicidad #suscribirse input{width:150px; height:33px;}
.publicidad p{font-size:12px; margin:10px 0; text-align:justify;}
.publicidad .mas_info_columna_izq {margin-top:20px;}
.publicidad .mas_info_columna_izq img{position:relative;}
.publicidad .mas_info_columna_izq .info_icon{float:left; top:-120px; left:200px; border:none;}
.publicidad .container h2{font-weight:normal; font-size:18px;}
.publicidad .container input{width:160px; height:33px;}
.publicidad .container .lupa_buscar{background:url(../images/boton_busqueda_lupa.png) no-repeat top left; width:45px; height:40px; border:none;}
.buscador_lupa {margin-bottom:20px;}
.buscador_lupa input{width:100px; height:33px;}
.buscador_lupa .lupa_buscar{background:url(../images/boton_busqueda_lupa.png) no-repeat top left; width:45px; height:40px; border:none;}
.publicidad .buscador_codigo {background:url(../images/bg_buscador_codigo_resultados.png) repeat-y; width:228px;}
.input_buscar_empresas{border:solid 1px #CCC; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0;}
.publicidad .buscador_codigo_top {background:url(../images/buscador_codigo_top_resultados.png) no-repeat; width:228px; height:7px;}
.publicidad .buscador_codigo_bottom {background:url(../images/buscador_codigo_bottom_resultados.png) no-repeat; width:228px; height:11px; margin-bottom:20px;}
.publicidad .buscador_codigo input{width:100px; height:33px; margin:10px;}
.publicidad .buscador_codigo span{font-size:12px; margin:10px;}
.publicidad .container .lupa_buscar:hover{background:url(../images/boton_busqueda_lupa.png) no-repeat -45px 0;}
.publicidad .container .lupa_buscar:active{background:url(../images/boton_busqueda_lupa.png) no-repeat -90px 0;}
.publicidad .buscador_codigo .lupa_buscar{background:url(../images/boton_busqueda_lupa.png) no-repeat top left; width:45px; height:40px; border:none;}
.publicidad .buscador_codigo .lupa_buscar:hover{background:url(../images/boton_busqueda_lupa.png) no-repeat -45px 0;}
.publicidad .buscador_codigo .publicidad .container .lupa_buscar:active{background:url(../images/boton_busqueda_lupa.png) no-repeat -90px 0;}
.publicidad img{border:solid 5px #FFF;}
.publicidad img:hover{border:solid 5px #900;}
.publicidad .anunciarme_casas{background:url(../images/anunciarme_casas.jpg) no-repeat; width:224; height:62px; margin:20px 0;}
.anunciarme_casas_home {background:url(../images/bg_home_anunciarme_casasyterrenos.jpg) no-repeat top #FFF; width:285px; height:54px; border-top:solid 1px #CCC; padding:25px 0 0 15px; margin-bottom:20px;}
.publicidad .anunciarme_casas a{display:block; padding:10px; color:#F00; font-size:16px;}
.publicidad h3{font-size:14px;}
.lupa_buscar_min{background:url(../images/boton_busqueda_lupa_min.png) no-repeat top left; width:29px; height:26px; border:none;}
.lupa_buscar_min:hover {background:url(../images/boton_busqueda_lupa_min.png) no-repeat top;}
.lupa_buscar_min:active {background:url(../images/boton_busqueda_lupa_min.png) no-repeat top right;}
.publicidad .rangos {width:220px; font-size:14px; padding:3px; margin:5px 0;}
.viviendas_col_izq {background:#FFF; border-bottom:solid 3px #CCC; padding:10px;}
.viviendas_col_izq h2{color:#666;}
.viviendas_col_izq p{text-align:center; color:#E5BD53; font-size:30px; font-weight:bold;}
.recomendaciones {background:#FFF; border:solid 1px #ccc; width:625px; margin-bottom:20px;}
.recomendaciones_top {background:url(../images/top_destacado_home.jpg) repeat-x top	; width:100%; height:37px;}
.recomendaciones_top div{display:inline-block; padding:10px;}
.recomendaciones_top .pager_home{float:right;}
.recomendaciones .datos_propiedad_home p{float:left;background:#E1E1E1; font-size:12px;  margin:0 2px 5px 0; padding:8px 8px; text-align:center;}
.top_precio_propiedad_home {background:url(../images/recomendaciones_precio_top.png) no-repeat; width:256px; height:14px;}
.in_precio_propiedad_home {background:url(../images/recomenaciones_precio_in.png) repeat-y; width:256px;}
.in_precio_propiedad_home p{padding:15px; font-size:26px; color:#FFF; text-align:center;}
.bottom_precio_propiedad_home {background:url(../images/recomendaciones_precio_bottom.png) no-repeat; width:256px; height:14px;}

/* CAROUSELS */
.thumbnails_home {margin-top:20px;}
.item_carrusel {height:120px; font-size:12px; margin:10px 0; padding:10px;}
.item_carrusel p{margin-bottom:10px;}
.item_carrusel h2{font-size:16px;}
.recomendaciones .tabs_carrusel .titulo{position:relative; top:-28px; left:5px; margin-bottom:-25px; width:400px;}
.recomendaciones .tabs_carrusel .titulo h3{font-size:16px; }
.recomendaciones .tabs_carrusel .carrusel_home .jcarousel-item{width:104px; height:103px; padding:8px 0; text-align:center;}
.recomendaciones .tabs_carrusel .carrusel_home .jcarousel-item div{background:#CCC; width:96px; height:84px; padding:3px 0;}
.recomendaciones .tabs_carrusel .carrusel_home .jcarousel-item div a{color:#666; text-decoration:none; font-size:12px; margin:2px 0;}
.carrusel_vert .jcarousel-item{width:300px; height:150px;}
.carrusel_vert {margin:37px 0; padding:50px 0;}
.carrusel_vert_detalle {margin:30px 0 30px 0;}
.carrusel_vert_detalle .jcarousel-item{width:300px; height:150px;}

/* TABS */
#tabs {width:625px; font-size:12px; margin:10px 0; border-bottom:solid 1px #CCC;}
#tabs hr{color:#CCC;}
.ui-tabs-hide{display:none;}
#tabs ul.ui-tabs-nav {margin-left:2px;}
#tabs .ui-tabs-nav li{display:inline; margin-left:-2px;}
#tabs .ui-tabs-nav a{display:inline-block; background:#DDD; padding:15px 30px; border:solid 1px #BBB; border-bottom:none;  border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0;}
#tabs .ui-tabs-nav .ui-tabs-selected a{background:#FFF; border:none; color:#000; text-decoration:none;}
#tabs .ui-widget-content{background:#FFF; padding:50px 10px;}
#tabs .item_tabs {margin-bottom:40px;}
#tabs .leer_mas {font-size:14px; text-align:right; margin:20px 0;}
#tabs .tabs_container {background:#FFF;}
.recomendaciones .tabs_carrusel .carrusel_home .ui-tabs-selected{background:transparent url(../images/bg_carrusel_tabs_selected.png) top center no-repeat;width:104px; height:103px; padding:8px 0; text-align:center;}
.recomendaciones .tabs_carrusel .carrusel_home img{width:89px; height:66px;}
.recomendaciones .tabs_carrusel .carrusel_home .ui-tabs-selected div{background:#E5B956; width:96px; height:84px; padding:3px 0;}
.recomendaciones .tabs_carrusel .carrusel_home .ui-tabs-selected div a{color:#FFF; text-decoration:none; font-size:12px; margin:2px 0;}
.pager_home li {display:inline-block; width:19px; height:19px;}
.pager_home a {display:inline-block; width:19px; height:19px;}
.pager_home .ui-state-active a{background:url(../images/pager_active_recomendaciones.png) no-repeat;}
.pager_home a span{display:none;}
.pager_home .ui-state-hover a{background:url(../images/pager_active_recomendaciones.png) no-repeat;}
.pager_home .ui-state-default {background:url(../images/pager_recomendaciones.png) no-repeat;}
#tabs_vivienda {}
#tabs_vivienda .tabs_container{width:506px; background:#FFF; display:inline-block; padding:5px; margin-left:-1px; vertical-align:top;}
#tabs_vivienda .ui-tabs-nav {display:inline-block; width:106px; font-size:14px;}
#tabs_vivienda .ui-tabs-nav li{margin-bottom:5px;}
#tabs_vivienda .ui-tabs-nav a{display:inline-block; padding:10px 0 10px 10px; width:99px; background:#DDD; border:solid 1px #BBB; border-right:none;  border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px; -webkit-border-radius:10px 0 0 10px;}
#tabs_vivienda .ui-tabs-nav .ui-tabs-selected a{background:#FFF; border:none; color:#000; text-decoration:none;}

/* REPORTES */
#contenido_reporte {width:732px; margin:auto; font-size:14px; color:#000;}
#top_reporte {background:#EEE;height:19px; border-bottom:solid 1px #DFDFDF; margin-bottom:-8px;}
#contenido_reporte .resaltar-1{font-size:33px; font-weight:normal; margin:10px 0; padding:0; }
#contenido_reporte hr{border:1px solid #CCC;}
#contenido_reporte p{margin:5px 0;}
#contenido_reporte h3,h2,h1{margin:10px 0;}
#contenido_reporte .detalles_inmueble {margin-bottom:10px;}
#footer_reporte {text-align:center; margin:20px 0;}
#paginacion_reporte {text-align:center;}
.opciones_documento {width:500px; margin:auto; padding:20px 0; text-align:center;}
.opciones_documento img{margin:0 20px; border:none;}
.detalles_inmueble .column{background:#E1E1E1; margin:10px 2px; padding:5px; text-align:center;}
.detalles_inmueble span{color:#000;}
.detalles_inmueble .numero_detalles_inmueble{color:#000; font-weight:bold; font-size:16px;}
.imagen_reporte_bottom {background:url(../images/reporte_imagen_bottom.png) no-repeat; width:273px; height:10px;}
.link_yellow {display:inline-block; background:url(../images/bg_link_enviar_yellow.png) no-repeat right top; padding:5px; color:#000; text-decoration:none; font-size:12px; width:30%;}
.mas_boton {background:url(../images/boton_mas.png) no-repeat; border:none; cursor:pointer; width:32px; height:28px;}
.enviar_propiedad {display:block; background:url(../images/enviar_propiedad_revision.png) no-repeat; border:none; width:176px; height:54px;}
.enviar_propiedad span{display:none;}
.boton_registrarme {display:block; background:url(../images/boton_registrarme.png) no-repeat; width:145px; height:50px; border:none; cursor:pointer;}

/* NEWS */
#news {background:#CFCFCF; padding:20px 0;}
#news p{font-size:12px; color:#000;}
#news a{color:#F00;}
#news .container {width:956px; margin:auto;}
#news .container .column {padding:10px; width:218px;}
#news .container h3{font-size:13px; color:#FF3333; text-decoration:underline;}

/* FOOTER */
#footer_container {background:url(../images/bg_footer2.jpg);}
#footer_container .container {width:956px; margin:auto; padding:10px 0;}
#footer_container .container h3{font-size:18px; font-weight:normal; width:219px; margin:5px auto;}
#footer_container .container .enlaces ul{width:219px; margin:auto;}
#footer_container .container .enlaces li{list-style:none;}
#footer_container .container .enlaces a{color:#F00; font-size:12px; display:inline-block; padding:5px; vertical-align:top;}
#footer_container .container .enlaces a:hover{color:#000;}
#top_herramientas_footer {background:url(../images/img_top_seccion_comprador.jpg) no-repeat;width:219px; height:3px; margin:auto;}
#contenido_herramientas_footer {background:#464646; font-size:12px; width:219px; height:200px; color:#FFF; margin:auto;}
#contenido_herramientas_footer a{color:#FFF;}
#contenido_herramientas_footer a:hover{color:#F00;}
#contenido_herramientas_footer ul{padding:10px; width:230px;}
#contenido_herramientas_footer li{margin:5px 0;}
#bottom_herramientas_footer {background:url(../images/img_bottom_seccion_compradores.jpg) no-repeat; width:235px; height:5px; margin:0 auto -15px auto;}

#estados_container {width:956px; margin:auto; text-align:center; margin-top:10px; padding:10px;}
#estados_container a{color:#F2A737; font-size:12px; display:inline-block; margin-top:5px;}
#estados_container a:hover{color:#000;}
#copyright {width:956px; margin:auto; font-size:12px; text-align:center; padding:10px;}

/* FORM CONTACTO */
.contacto {font-size:14px; color:#333333;}
.contacto .campo{border-left:solid 1px #999; border-top:solid 1px #999; font-size:12px; margin-bottom:10px; width:200px; height:14px; padding:5px;}
.contacto .mensaje{width:450px; resize:none; border-left:solid 1px #999; font-size:12px; border-top:solid 1px #999; margin-bottom:10px; padding:5px;}
.contacto .faltante {border:groove 2px #F00;}
.contacto .error{border:1px solid #F00;}
.contacto span.error{color:#F00; font-size:12px; background: none !important; border:0px;}
.contacto .boton_enviar{background:url(../images/boton_enviar.png) no-repeat top left; width:116px; height:52px; border:none; margin-top:10px;}
.contacto .boton_enviar:hover{background:url(../images/boton_enviar.png) no-repeat top;}
.contacto .boton_enviar:active{background:url(../images/boton_enviar.png) no-repeat top right;}
.envio_exitoso {width:400px; margin:auto; text-align:center; padding:10px; font-size:15px; background:#254B47; color:#FFF; font-weight:bold; border:groove 2px #003366;}
.envio_fallido {width:400px; margin:auto; text-align:center; padding:10px; font-size:15px; background:#F00; color:#FFF; font-weight:bold; border:groove 2px #990000;}

/* para el sub menu de estados */
ul.menu_states {margin:0; padding:0; list-style-type:none; width:175px; float:left;}
ul.menu_states li {width:174px; float:left; border:1px solid transparent}
ul.menu_states li a {color:#F2A737; text-decoration:none; padding:6px; display:block; font-size:13px;}
ul.menu_states li a:hover {padding:6px;  color: #FF0000;}

/* MISC */
.bg-1 {background:#DADADA;}
.bg-2 {background:#FFF;}
.bg-3 {background:#C3C3C3;}
.icon_1 {list-style:url(../images/bolsa_dinero.png) inside;}
.icon_2 {list-style:url(../images/info_chico.png) inside;}
.icon_3 {list-style:url(../images/herramientas_chico.png) inside;}
.icon_4 {list-style:url(../images/preguntas.png) inside;}
.icon_5 {list-style:url(../images/flechas.png) inside;}
.icon_6 {list-style:url(../images/bullet_triangulo.png) inside;}
.color-1 {color:#666;}
.color-2 {color:#FFF;}
.color-3 {color:#F33;}
.color-4 {color:#E6B957;}
.color-5 {color:#F2A737;}
.color-6 {color:#00529F;}
.big-1 {font-size:70px;}
.big-2 {font-size:40px;}
.size-1 {font-size:16px;}
.size-2 {font-size:24px;}
.size-3 {font-size:14px;}
.size-4 {font-size:12px;}
.size-5 {font-size:18px;}
.size-6 {font-size:28px;}
.contenido_medio .size-1 {font-size:16px;}
.contenido_medio .size-2 {font-size:24px;}
.inside_info {background:#E8E8E8;}
.inside_info-2 {background:#C4C6C8;}
.inside_info-3 {background:#646567;}
.inside_info-4 {background:#FFC;}
.resaltar-1 {color:#E6B957; font-size:22px; padding:10px;}
.resaltar-2 {background:#E5E5E5; padding:5px; width:60%;}
.resaltar-2 strong{font-size:28px;}
.parrafo-1 {font-size:13px; color:#333; margin:10px 0;}
.parrafo-2 {font-size:12px; color:#333; margin:0 0 10px 0; }
.lista_tipo-1 li{margin:5px 0; font-size:12px;}
.lista_tipo-2 {width:90%;}
.lista_tipo-2 li{margin:5px 0; padding:0 10px ;}
.lista_tipo-3 {padding:20px;}
.lista_tipo-3 li{list-style:disc;}
.lista_tipo-4 li{list-style:disc; margin:5px 0; padding:0 10px 0 0;}
.titulo_tipo-1 {background:#692B86; color:#FFF; width:931px; padding:10px; margin:auto;}
.titulo_tipo-2 {background:#E51422; color:#FFF; width:931px; padding:10px; margin:auto;}
.titulo_tipo-3 {background:#C3C3C3; color:#000; width:693px; padding:10px; margin:auto; border-bottom:solid 1px #666666; font-size:16px;}
.titulo_tipo-4 {background:url(../images/bg_news_home.png) repeat-x #D8D8D8; padding:10px; border-top:solid 1px #FFF; border-bottom:solid 2px gainsboro; width:280px; height:16px; margin:20px auto 0 auto;}
.titulo_columnaizq_tipo-1 {display:block; padding:5px 0; width:100%; border-bottom:groove 3px #CCC; margin:10px 0;}
.titulo_columnaizq_tipo-2 {display:block; padding:5px 0; width:100%; margin:10px 0; font-size:14px;}
.titulo_columnaizq_tipo-3 {display:block; padding:5px 0; width:100%; border-bottom:groove 3px #CCC; margin:10px 0; font-size:20px;}
.anuncio_right {width:163px; float:right; position:relative; right:-15px; color:#FFF;}
.anuncio_right p{padding:10px 10px;}
.anuncio_right_top {background:url(../images/anuncio_right_top.png) no-repeat; width:163px; height:11px;}
.anuncio_right_in {background:url(../images/anuncio_right_in.png) repeat-y; width:163px; font-size:14px;}
.anuncio_right_bottom {background:url(../images/anuncio_right_bottom.png) no-repeat; width:163px; height:13px;}
.hover-link {color:#000;}
.hover-link:hover {color:#F33;}

.error{border:1px solid #F00 !important;}
span.error{display:block;  color:#F00; font-size:12px; background: none !important; border:0px !important; }
