@charset "utf-8";
.jcarousel-direction-rtl {direction: rtl;}
.jcarousel-container-horizontal {width: 544px; padding: 10px 40px;}
.jcarousel-clip {overflow: hidden;}
.jcarousel-clip-horizontal {width:  545px; height: 103px;}
.jcarousel-item {width: 104px; height: 103px;}
.jcarousel-item-horizontal {margin-left: 0; margin-right: 5px;}
.jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 10px; margin-right: 0;}
.jcarousel-item-vertical {margin-bottom: 10px;}
.jcarousel-item-placeholder {background: #fff; color: #000;}

/* VERTICAL */

.carrusel_vert_detalle .jcarousel-clip-vertical {width:300px; height:300px;}
.carrusel_vert .jcarousel-clip-vertical {width:  300px; height: 133px;}
.carrusel_vert_detalle .jcarousel-next-vertical,.carrusel_vert .jcarousel-next-vertical {
    position: absolute;
    bottom: -22px;
    
    width: 300px;
    height: 18px;
    cursor: pointer;
    background: transparent url(../images/next_pr_sidebar.png) no-repeat 0 0;
}
.carrusel_vert_detalle .jcarousel-next-vertical:hover,.carrusel_vert_detalle .jcarousel-next-vertical:focus,.carrusel_vert .jcarousel-next-vertical:hover, .carrusel_vert .jcarousel-next-vertical:focus{}
.carrusel_vert .jcarousel-prev-vertical,.carrusel_vert_detalle .jcarousel-prev-vertical {
    position: absolute;
    top:-18px;
    
    width: 300px;
    height: 18px;
    cursor: pointer;
    background: transparent url(../images/prev_pr_sidebar.png) no-repeat 0 0;
}
	
/*  Horizontal Buttons */
.jcarousel-next-horizontal {position: absolute; top: 35px; right: 11px; width: 21px; height: 42px; cursor: pointer; background: transparent url(../images/next_pr.png) no-repeat 0 0;}
.jcarousel-direction-rtl .jcarousel-next-horizontal {left: 5px; right: auto; background-image: url(../images/prev_pr.png);}
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {background-position: 0 0;}
.jcarousel-next-horizontal:active {background-position: 0 0;}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {cursor: default; background-position: 0 -42px;}
.jcarousel-prev-horizontal {position: absolute; top: 35px; left: 11px; width: 21px; height: 42px; cursor: pointer; background: transparent url(../images/prev_pr.png) no-repeat 0 0;}
.jcarousel-direction-rtl .jcarousel-prev-horizontal {left: auto; right: 5px; background-image: url(../images/next_pr.png);}
.jcarousel-prev-horizontal:hover, 
.jcarousel-prev-horizontal:focus {background-position: 0 0;}
.jcarousel-prev-horizontal:active {background-position: 0 0;}
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {cursor: default; background-position: 0 -42px;}