span.cls_006{font-family:Tahoma,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Tahoma,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Tahoma,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Tahoma,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Tahoma,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Tahoma,serif;font-size:8.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Tahoma,serif;font-size:8.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Tahoma,serif;font-size:8.3px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Tahoma,serif;font-size:7.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Tahoma,serif;font-size:7.4px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
