
a              { color: #0078cc; }
                
.button {
                background: #004a95 url('../../images/bg-button-blue.gif') top left repeat-x !important;
                border-color: #004994 !important;

                }

#sidebar #main-nav li a.nav-top-item {
                background: transparent url('../../images/bg-menu-item-blue.gif') right center no-repeat;
                }

ul.content-box-tabs li a:hover {
                color: #0078cc;
                }              
                
.pagination a.current {
                background: #004a95 url('../../images/bg-button-blue.gif') top left repeat-x !important;
                border-color: #004994 !important;
                }
				
.action-button span:hover {
				color: #0078cc;
                }

.shortcut-button span:hover{
				color: #0078CC;	
				}     
                
.error_404 h1{
	font-size:40px !important;
	color: #0078cc !important;
	position: relative !important;
	top: 0px;
	margin-bottom: 50px;
}

.error_404 span{
	color: #222222 !important;
	font-size:14px !important;
	line-height: 22px;
}

.item_add{width: 60% !important; margin: 5px 5px; 5px 0; float: left;}
