 <form id="formArchivo" name="formArchivo" action="{base_url()}elevator/guardarCargaClientes3" method="post" enctype="multipart/form-data">	

  <input type="file" name="excelClientes" >
  <input type="submit">
</form>