{extends file="structure/main.tpl"}

{block name=content}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> 
<script type="text/javascript" src="{base_url()}inc/js/jquery.gdocsviewer.min.js"></script> 
<script type="text/javascript"> 

$(document).ready(function() {
	$('#embedURL').gdocsViewer();
});
</script> 


       <div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-comment-alt"></i>
							<a href="#">Ayuda</a>

							<span class="divider">
								<i class="icon-angle-right arrow-icon"></i>
							</span>
						</li>


					</ul><!--.breadcrumb-->

				</div>
			  
 				
				<div class="page-content">
				<embed src="http://grupoapro.mbsoft-cloud.com.mx/inc/pdf/UserGuideESE.PDF" width="900" height="900">
				</div><!--/.page-content-->
				
				
				
       </div>


<script type="text/javascript">
		$('#ayuda').attr('class','active');

</script>
    


{/block}
