<div class="row-fluid">
			<div class="table-header">
				Datos del Empleado
			</div>
<table id="sample-table-2" class="table table-striped table-bordered table-hover">
	<tbody>
			 {if $nombre neq ''}
				<tr>
				 <td> Nombre: {$nombre} </td>
				</tr>
				<tr>
				 <td> Correo: {$correo}</td>
				</tr>
				<tr>
				 <td> Telefono: {$telefono}</td>
				</tr>
				<tr>
				 <td> Celular: {$cel}</td>
				</tr>
			{else}
				<tr>
				 <td>No hay informacion</td>
				</tr>
			{/if}
		</tbody>
	</table>
	</div>		
</div>
					
			
		

